{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"env": { "node": true },
	"plugins": ["@typescript-eslint", "prettier"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier",
	],
	"parserOptions": {
		"sourceType": "module",
	},
	"rules": {
		"no-unused-vars": "off",
		"@typescript-eslint/no-unused-vars": ["error", { "args": "none" }],
		"@typescript-eslint/ban-ts-comment": "off",
		"@typescript-eslint/no-explicit-any": "off",
		"no-prototype-builtins": "off",
		"@typescript-eslint/no-empty-function": "off",
		"max-len": "off",
		"@typescript-eslint/max-len": "off",
		"prettier/prettier": [
			"error",
			{
				"printWidth": 80,
				"tabWidth": 2,
				"useTabs": true,
				"singleQuote": true,
				"semi": true,
				"trailingComma": "es5",
				"bracketSpacing": true,
				"arrowParens": "avoid",
				"endOfLine": "lf",
			},
		],
	},
}
