.kora-chat-timeline[data-v-4556b573] {
	scrollbar-width: thin;
	scrollbar-color: rgba(255, 255, 255, 0.18) transparent;
}
.kora-chat-timeline[data-v-4556b573]::-webkit-scrollbar {
	width: 10px;
}
.kora-chat-timeline[data-v-4556b573]::-webkit-scrollbar-thumb {
	border-radius: 999px;
	background: rgba(255, 255, 255, 0.14);
}
.kora-chat-timeline[data-v-4556b573]::-webkit-scrollbar-track {
	background: transparent;
}
